
h1{
  text-align: center;
}
body{
  background-color: hotpink;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;

}
.jcole{
  right: 50px;
}
.active {
    background-color:#C4315D;
    color:white;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: black underline;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  justify-self: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* this i sw3 schools horizontal nav^ */

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:pink;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

}

.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color:#CD3769;

}
.navbar a{
  float: left;
  padding: 9px;
  color: white;
  text-decoration: none;
  font-size: 100px;
  width: 33.33%; 


}
.nav_item{

  display: inline-block;
  
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  /* Create two equal columns that sits next to each other */
  .column {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  @keyframes future_move {
    from {width: 10%;}
    to {width: 90%;} 
    }

  img {
    margin-top: 8px;
    vertical-align: middle;
    border: solid 2px black;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto; 
  }
  .future img{
    display: block;
    animation: future_move 5s;
    width: 90%;
  }
  .flex-container {
    display: flex;
    justify-content: center;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    animation-duration: 3s;
    animation-name: slidein;
  }
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
      }
    
      65% {
        font-size: 200%;
        margin-left: 25%;
        width: 150%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
  
  }
  .skip{
    left: 10px;
    top: -40px;
    padding: 6px;
    position:absolute;
    transition: top 1s ease-out;
    z-index: 1;
  }
  .skip:focus{
    top: 20px;
    background-color: beige;
    font-size: small;
  }
  h1{
    font-family: cursive;
    font-size: 50px;
  }

  html{
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="64" width="64"><text y="28" font-size="32">💐</text><path d="M0,2 L0,0 L2,0" fill="red" /></svg>'), auto;
    }

  @media only screen and (min-width: 700px) {

   .grid-container{
    grid-template-columns: 1fr 1fr;

  }

    .nav_links{
    flex-direction: row;
    justify-content:space-between;
  }
  }
  @media only screen and (min-width: 1200px) {
    .grid-container{
    grid-template-columns: 1fr 1fr 1fr;
  
    }
    .nav_links{
      display: flex;
      justify-content: space-around;
    

  }
    /* For desktop: */
    footer{

      background-color:#757575;
      color: white;
      padding-top: 30px;
      text-align: center;
    }
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    .skip{
      transition: none;
    }
    
  }
  